header {
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 0 10px 3px rgb(0 0 0 / 25%);
}

.top-header {
    z-index: 1031;
    height: 2.1rem;
    width: 100%;
    background-color: #000;
    text-align: center;
    color: #fff;
    transition: top 0.3s ease-in-out;

    .container {
        max-width: 1290px;
        .navbar {
            padding-top: 0;
            padding-bottom: 0;
            max-height: 36px;
            .navbar-nav {
                padding-left: 0;
                margin-bottom: 0;
                list-style: none;

                .nav-item {
                    height: 2.1rem;
                    margin: 0 0.25rem;

                    .dropdown-menu {
                        width: 1286px;
                        left: 0;
                        right: 0;
                        height: 0;
                        display: block;
                        visibility: hidden;
                        margin: 0;
                        padding: 0;
                        background-color: #202020 !important;
                        border-radius: 0 0 1rem 1rem;
                        box-shadow: none;
                        border: none;
                        z-index: 9999;
                        transition: all 0.65s ease 0.15s;
                        & > .container {
                            background-color: #202020;
                            width: 1286px;
                            height: 192px;
                            padding: 0px 4rem;
                            border-radius: 0 0 1rem 1rem;
                            transition: all 0.65s ease 0.15s;
                        }
                    }

                    .dropdown-menu.show {
                        margin: 0;
                        padding: 0;
                        border: none;
                        display: block;
                        visibility: visible;
                        height: 192px;
                        transition: all 0.65s ease 0.15s;
                        border-radius: 0 0 1rem 1rem;
                    }

                    .nav-link {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 0.75rem;
                        font-weight: 500;
                        height: 100%;
                        outline: none !important;

                        i {
                            margin-right: 4px;
                        }
                    }
                }

                .find-store,
                .nav-link .find-store:hover {
                    background-color: #ffd600 !important;
                    margin: 0;

                    a {
                        color: #000 !important;
                    }
                }
            }
        }
    }
}

.main-header {
    display: flex;
    text-align: center;
    align-items: center;
    height: 72px;
    left: 0;
    right: 0;
    z-index: 1030;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
    transition: top 0.3s ease-in-out;
    background-color: white;

    & > .container {
        max-width: 1286px;
    }
}

.corporate.dropdown-menu,
.corporate.dropdown-menu.show {
    left: -916px !important;
}
.partners.dropdown-menu,
.partners.dropdown-menu.show {
    left: -1046px !important;
}

.navbar.bg-inverse .navbar-nav .nav-link {
    color: #2f2f2f;
    font-weight: bold;
    font-size: 0.8rem;
}

// nav.navbar.navbar-expand.navbar-dark.bg-body.px-lg-0 {
//     width: 90%;
//     margin: 0 auto;
// }

.dropdown-menu.show {
    .container {
        animation: slideIn 0.4s ease-in-out forwards;
    }

    .content-asset {
        animation: showLang 0.6s ease-in-out forwards;
    }
}

.dropdown-menu:not(.show) {
    .container {
        animation: slideOut 0.6s ease-in-out forwards;
    }

    .content-asset,
    .row.no-gutters.support {
        animation: dontshowLang 0.4s ease-in-out forwards;
    }
}

ul.dropdown-menu.show {
    .dropdown-item {
        animation: showLang 0.6s ease-in-out forwards;
    }
}

ul.dropdown-menu:not(.show) {
    .dropdown-item,
    .row.no-gutters.support {
        animation: dontshowLang 0.4s ease-in-out forwards;
    }
}

@keyframes slideIn {
    0% {
        height: 0px;
    }

    100% {
        height: 192px;
    }
}

@keyframes slideOut {
    0% {
        height: 192px;
    }

    50% {
        height: 192px;
    }

    100% {
        height: 0px;
    }
}

.dropdown-toggle::after {
    all: initial;
    content: "▲";
    scale: 0.7;
    display: inline-block;
    position: relative;
    left: 5px;
    font-size: 0.75rem;
    color: white;
    transition: all 0.5s ease 0s;
}

.dropdown-toggle:hover::after {
    transform: rotate(180deg);
    transition: 0.5s ease-in-out;
}

.nav-link.dropdown-toggle.secondory::after {
    all: initial;
    content: "▲";
    scale: 0.7;
    display: inline-block;
    position: relative;
    left: 5px;
    font-size: 0.75rem;
    color: black;
    transition: all 0.5s ease 0s;
}

.nav-link.dropdown-toggle.secondory:hover::after {
    transform: rotate(180deg);
    transition: 0.5s ease-in-out;
}

.nav-link.dropdown-toggle.secondory::before {
    all: initial;
    content: "";
    border-bottom: 3px solid black;
    width: 100%;
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: 0.8px;
    color: black;
    opacity: 0;
    transition: 0.4s ease-in-out;
}

.nav-link.dropdown-toggle.secondory:hover::before {
    opacity: 1;
    transition: 0.4s ease-in-out;
}

.globe {
    background: transparent;
    width: 28px;
    height: 27px;
    scale: 0.6;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='28' height='27' viewBox='0 0 28 27' version='1.1'%3E%3Ctitle%3EGlobus%3C/title%3E%3Cg id='Desktop' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cpath d='M14.9387413,0.0250752265 L14.9865444,0.0357164513 C21.9817966,0.540935451 27.5,6.3761545 27.5,13.500219 C27.5,20.6249648 21.9807412,26.4606186 14.9845375,26.9648664 C14.8268667,27.0004204 14.6631085,27.0093508 14.5004036,26.9913159 L14.3098308,26.9967336 L14.3098308,26.9967336 L14,27.000219 C13.8322301,27.000219 13.6651749,26.9971587 13.4988873,26.9910908 C13.3370571,27.0093507 13.1732988,27.000422 13.0151309,26.966066 C6.01925885,26.4606186 0.5,20.6249648 0.5,13.500219 C0.5,6.3761545 6.01820339,0.540935451 13.0134556,0.0357164513 C13.1725629,-4.98792465e-05 13.3377133,-0.00906276917 13.5017647,0.00934727615 L13.6901692,0.00370437428 L13.6901692,0.00370437428 L14,0.00021901012 C14.1670975,0.00021901012 14.333486,0.00325487199 14.4991132,0.00927444842 C14.6459439,-0.00721040018 14.7943759,-0.0015847913 14.9387413,0.0250752265 Z M15.8773967,19.0002329 L12.1226906,19.000226 C12.5552169,20.6083133 13.1809116,22.1769201 13.9997748,23.6707822 C14.8191989,22.1769307 15.4448799,20.6083221 15.8773967,19.0002329 Z M22.945473,19.0010785 L18.9701182,19.0008217 C18.6190574,20.5037371 18.122116,21.9805902 17.4792941,23.4097208 C19.7668084,22.607186 21.6928545,21.0337479 22.945473,19.0010785 Z M9.02996812,19.0008278 L5.05452703,19.0010785 C6.30714551,21.0337479 8.23319164,22.607186 10.5216455,23.4103728 C9.87799036,21.9805993 9.38103722,20.5037448 9.02996812,19.0008278 Z M8.5257705,11.0005394 L3.79934089,11.0006482 C3.60371606,11.8017428 3.5,12.6388688 3.5,13.500219 C3.5,14.3619293 3.6038028,15.1993952 3.79958629,16.0007945 L8.52587434,16.0008983 C8.35318818,14.3387627 8.35315356,12.6626806 8.5257705,11.0005394 Z M16.4557798,11.0000877 L11.5442947,11.0000909 C11.3470134,12.6607769 11.3470134,14.3396611 11.5442947,16.0003471 L16.4557798,16.0003503 C16.6530567,14.3396622 16.6530567,12.6607758 16.4557798,11.0000877 Z M24.2006591,11.0006482 L19.4743038,11.0005422 C19.6469167,12.6626816 19.6468821,14.3387617 19.4742,16.0008955 L24.2004137,16.0007945 C24.3961972,15.1993952 24.5,14.3619293 24.5,13.500219 C24.5,12.6388688 24.3962839,11.8017428 24.2006591,11.0006482 Z M10.5211526,3.58998411 L10.4769274,3.60587447 C8.20780851,4.41389522 6.2984818,5.98035089 5.05404186,8.00014693 L9.02973413,8.00061205 C9.38087556,6.4970962 9.87801504,5.01965838 10.5211526,3.58998411 Z M14.0003537,3.32964368 L13.9658024,3.39187873 C13.1635766,4.86707081 12.5492008,6.41447391 12.122675,8.00027002 L15.8774122,8.00026312 C15.4448949,6.39215362 14.8192087,4.82352523 14.0003537,3.32964368 Z M17.4783545,3.5900652 L17.609522,3.88548678 C18.1897455,5.22290527 18.6433555,6.60045368 18.9703521,8.00061811 L22.9459581,8.00014693 C21.6933518,5.96709645 19.7671038,4.39335575 17.4783545,3.5900652 Z' id='Globus' fill='%23ffffff' fill-rule='nonzero'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

.qrcode {
    background: transparent;
    width: 24px;
    height: 25px;
    scale: 0.65;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='25' viewBox='0 0 24 25' version='1.1'%3E%3Ctitle%3ECorporate%3C/title%3E%3Cg id='Desktop' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cpath d='M7.57894737,13.131798 C9.67181589,13.131798 11.3684211,14.8284031 11.3684211,16.9212716 L11.3684211,16.9212716 L11.3684211,20.7107453 C11.3684211,22.8036139 9.67181589,24.500219 7.57894737,24.500219 L7.57894737,24.500219 L3.78947368,24.500219 C1.69660516,24.500219 4.70734562e-14,22.8036139 4.70734562e-14,20.7107453 L4.70734562e-14,20.7107453 L4.70734562e-14,16.9212716 C4.70734562e-14,14.8284031 1.69660516,13.131798 3.78947368,13.131798 L3.78947368,13.131798 Z M20.2105263,13.131798 C22.3033948,13.131798 24,14.8284031 24,16.9212716 L24,16.9212716 L24,20.7107453 C24,22.8036139 22.3033948,24.500219 20.2105263,24.500219 L20.2105263,24.500219 L16.4210526,24.500219 C14.3281841,24.500219 12.6315789,22.8036139 12.6315789,20.7107453 L12.6315789,20.7107453 L12.6315789,16.9212716 C12.6315789,14.8284031 14.3281841,13.131798 16.4210526,13.131798 L16.4210526,13.131798 Z M7.57894737,15.6581137 L3.78947368,15.6581137 C3.09185084,15.6581137 2.52631579,16.2236488 2.52631579,16.9212716 L2.52631579,16.9212716 L2.52631579,20.7107453 C2.52631579,21.4083682 3.09185084,21.9739032 3.78947368,21.9739032 L3.78947368,21.9739032 L7.57894737,21.9739032 C8.27657021,21.9739032 8.84210526,21.4083682 8.84210526,20.7107453 L8.84210526,20.7107453 L8.84210526,16.9212716 C8.84210526,16.2236488 8.27657021,15.6581137 7.57894737,15.6581137 L7.57894737,15.6581137 Z M20.2105263,15.6581137 L16.4210526,15.6581137 C15.7234298,15.6581137 15.1578947,16.2236488 15.1578947,16.9212716 L15.1578947,16.9212716 L15.1578947,20.7107453 C15.1578947,21.4083682 15.7234298,21.9739032 16.4210526,21.9739032 L16.4210526,21.9739032 L20.2105263,21.9739032 C20.9081492,21.9739032 21.4736842,21.4083682 21.4736842,20.7107453 L21.4736842,20.7107453 L21.4736842,16.9212716 C21.4736842,16.2236488 20.9081492,15.6581137 20.2105263,15.6581137 L20.2105263,15.6581137 Z M7.57894737,0.50021901 C9.67181589,0.50021901 11.3684211,2.19682417 11.3684211,4.28969269 L11.3684211,4.28969269 L11.3684211,8.07916638 C11.3684211,10.1720349 9.67181589,11.8686401 7.57894737,11.8686401 L7.57894737,11.8686401 L3.78947368,11.8686401 C1.69660516,11.8686401 4.70734562e-14,10.1720349 4.70734562e-14,8.07916638 L4.70734562e-14,8.07916638 L4.70734562e-14,4.28969269 C4.70734562e-14,2.19682417 1.69660516,0.50021901 3.78947368,0.50021901 L3.78947368,0.50021901 Z M20.2105263,0.50021901 C22.3033948,0.50021901 24,2.19682417 24,4.28969269 L24,4.28969269 L24,8.07916638 C24,10.1720349 22.3033948,11.8686401 20.2105263,11.8686401 L20.2105263,11.8686401 L16.4210526,11.8686401 C14.3281841,11.8686401 12.6315789,10.1720349 12.6315789,8.07916638 L12.6315789,8.07916638 L12.6315789,4.28969269 C12.6315789,2.19682417 14.3281841,0.50021901 16.4210526,0.50021901 L16.4210526,0.50021901 Z M7.57894737,3.0265348 L3.78947368,3.0265348 C3.09185084,3.0265348 2.52631579,3.59206985 2.52631579,4.28969269 L2.52631579,4.28969269 L2.52631579,8.07916638 C2.52631579,8.77678922 3.09185084,9.34232427 3.78947368,9.34232427 L3.78947368,9.34232427 L7.57894737,9.34232427 C8.27657021,9.34232427 8.84210526,8.77678922 8.84210526,8.07916638 L8.84210526,8.07916638 L8.84210526,4.28969269 C8.84210526,3.59206985 8.27657021,3.0265348 7.57894737,3.0265348 L7.57894737,3.0265348 Z M20.2105263,3.0265348 L16.4210526,3.0265348 C15.7234298,3.0265348 15.1578947,3.59206985 15.1578947,4.28969269 L15.1578947,4.28969269 L15.1578947,8.07916638 C15.1578947,8.77678922 15.7234298,9.34232427 16.4210526,9.34232427 L16.4210526,9.34232427 L20.2105263,9.34232427 C20.9081492,9.34232427 21.4736842,8.77678922 21.4736842,8.07916638 L21.4736842,8.07916638 L21.4736842,4.28969269 C21.4736842,3.59206985 20.9081492,3.0265348 20.2105263,3.0265348 L20.2105263,3.0265348 Z' id='Corporate' fill='%23ffffff' fill-rule='nonzero'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

.briefcase {
    background: transparent;
    width: 27px;
    height: 25px;
    scale: 0.65;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='27' height='25' viewBox='0 0 27 25' version='1.1'%3E%3Ctitle%3EPartners%3C/title%3E%3Cg id='Desktop' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cpath d='M14.3518667,0.50021901 C15.8669333,0.50021901 17.252,1.35623234 17.9296,2.71136568 L17.9296,2.71136568 L19.3064,5.46503234 C19.4193333,5.69088568 19.6502667,5.83355234 19.9028,5.83355234 L19.9028,5.83355234 L22.6666667,5.83355234 C24.8758667,5.83355234 26.6666667,7.62441901 26.6666667,9.83355234 L26.6666667,9.83355234 L26.6666667,20.500219 C26.6666667,22.709419 24.8758667,24.500219 22.6666667,24.500219 L22.6666667,24.500219 L4,24.500219 C1.79086667,24.500219 -8.17124146e-14,22.709419 -8.17124146e-14,20.500219 L-8.17124146e-14,20.500219 L-8.17124146e-14,9.83355234 C-8.17124146e-14,7.62441901 1.79086667,5.83355234 4,5.83355234 L4,5.83355234 L6.76393333,5.83355234 C7.01645333,5.83355234 7.24729333,5.69088568 7.36021333,5.46503234 L7.36021333,5.46503234 L8.73705333,2.71136568 C9.41461333,1.35623234 10.7997333,0.50021901 12.3148,0.50021901 L12.3148,0.50021901 Z M7.97110667,8.50021901 L4,8.50021901 C3.26362667,8.50021901 2.66666667,9.09717901 2.66666667,9.83355234 L2.66666667,20.500219 C2.66666667,21.236619 3.26362667,21.8335523 4,21.8335523 L22.6666667,21.8335523 C23.4030667,21.8335523 24,21.236619 24,20.500219 L24,9.83355234 C24,9.09716568 23.4030667,8.50021901 22.6666667,8.50021901 L18.6956,8.50021901 C18.6769333,8.50060568 18.6584,8.50060568 18.6398667,8.50021901 L8.02682667,8.50021901 C8.00828,8.50060568 7.98970667,8.50060568 7.97110667,8.50021901 Z M17.3333333,11.1668857 C18.0697333,11.1668857 18.6666667,11.763819 18.6666667,12.500219 C18.6666667,13.236619 18.0697333,13.8335523 17.3333333,13.8335523 L17.3333333,13.8335523 L9.33333333,13.8335523 C8.59696,13.8335523 8,13.236619 8,12.500219 C8,11.763819 8.59696,11.1668857 9.33333333,11.1668857 L9.33333333,11.1668857 Z M14.3518667,3.16688568 L12.3148,3.16688568 C11.8097333,3.16688568 11.348,3.45221901 11.1221333,3.90393901 L10.6397867,4.86873901 C10.4181467,5.31200568 10.7405333,5.83355234 11.2361333,5.83355234 L15.4305333,5.83355234 C15.9261333,5.83355234 16.2485333,5.31200568 16.0269333,4.86873901 L15.5445333,3.90393901 C15.3186667,3.45221901 14.8569333,3.16688568 14.3518667,3.16688568 Z' id='Partners' fill='%23ffffff' fill-rule='nonzero'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

.map-marker {
    background: transparent;
    width: 27px;
    height: 24px;
    scale: 0.75;
    background-image: url("data:image/svg+xml,%3Csvg xmlns:xlink='http://www.w3.org/1999/xlink' xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17 9C17 9.36521 16.8486 10.0437 16.4348 11.0457C16.0401 12.0013 15.4799 13.0802 14.8397 14.1845C13.9068 15.7937 12.8504 17.3779 12 18.5952C11.1496 17.3779 10.0932 15.7937 9.16027 14.1845C8.52006 13.0802 7.9599 12.0013 7.56522 11.0457C7.15137 10.0437 7 9.36521 7 9C7 6.23858 9.23858 4 12 4C14.7614 4 17 6.23858 17 9ZM19 9C19 12.0667 14.5953 18.4482 12.774 20.9559C12.3873 21.4883 11.6127 21.4883 11.226 20.9559C9.40465 18.4482 5 12.0667 5 9C5 5.13401 8.13401 2 12 2C15.866 2 19 5.13401 19 9ZM12 11C13.1046 11 14 10.1046 14 9C14 7.89543 13.1046 7 12 7C10.8954 7 10 7.89543 10 9C10 10.1046 10.8954 11 12 11Z' fill='%23000'%3E%3C/path%3E%3C/svg%3E");
}

.dropdown-toggle:hover,
.dropdown-toggle:focus,
.dropdown-toggle:hover span,
.dropdown-toggle:focus span,
.dropdown-toggle:active span,
.dropdown-toggle:hover .fa,
.dropdown-toggle:focus .fa,
.dropdown-toggle:active .fa,
a#navbarDropdown:hover {
    color: white;
    background-color: #202020 !important;
}

.nav-link.dropdown-toggle.secondory:hover,
.nav-link.dropdown-toggle.secondory:focus {
    color: #2f2f2f;
    background-color: white !important;
}

.top-header .container .navbar .navbar-nav,
a#navbarDropdown {
    color: white !important;
    background-color: black !important;
}

ul.dropdown-menu {
    background-color: #f5f5f5 !important;
    max-height: 600px;
    border: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    position: fixed !important;
    top: 110px;
    border-radius: 0 0 1rem 1rem;
    transition: all 0.3s ease 0.15s;
    display: block;
    visibility: hidden;

    & > .container {
        background-color: #f5f5f5 !important;
        border: 0;
        height: 100%;
        min-width: 100%;
        margin: 0;
        padding: 0;
        border-radius: 0 0 1rem 1rem;
        transition: all 0.3s ease 0.15s;
    }
}

ul.dropdown-menu.show {
    left: 0;
    background-color: #f5f5f5 !important;
    max-height: 600px;
    border: 0;
    width: 100%;
    position: fixed !important;
    top: 110px;
    margin: 0;
    padding: 0;
    border-radius: 0 0 1rem 1rem;
    transition: all 0.3s ease 0.15s;
    display: block;
    visibility: visible;
}

li.dropdown-item:nth-child(1) {
    color: #acacac;
    font-size: 0.9rem;
}

li.dropdown-item {
    color: black;
    & > a {
        text-decoration: none;
        width: 100%;
        display: block;
    }
    font-size: 1.2rem;
    font-weight: bold;
}

.menu-group,
ul.nav.navbar-nav,
ul.nav.navbar-nav > li.nav-item.dropdown {
    height: 72px;
    display: flex;
    align-items: center;
}

.container {
    & > .content-asset {
        width: 100%;
    }

    .no-gutters {
        margin-right: 0 !important;
        margin-left: 0 !important;
        display: flex;
        align-items: center;
    }

    .no-gutters > .col,
    .no-gutters > [class*="col-"] {
        padding-right: 0;
        padding-left: 0;
    }

    .list-unstyled {
        padding-left: 0;
        list-style: none;
    }
    .row,
    .wform-content-asset .wFormContainer .wForm {
        width: 99%;
        margin: 0 auto;
    }

    .menu-item {
        margin: 1.5rem 0;
        font-size: 0.8rem;
    }
}

.row.no-gutters.support {
    margin: 0 auto !important;
    max-width: 1290px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: black;
}
li.menu-item.supportItem {
    & > a {
        text-decoration: none;
    }
}
.supportItem {
    font-size: 0.8rem;
}

img.hidden-md-down {
    margin-top: 0.5rem;
}

@keyframes showLang {
    0% {
        opacity: 0;
    }

    70% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes dontshowLang {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
