.mainBox {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  margin: 0.5rem 0.6rem;
}

.form-control {
  border-radius: 1rem;
}

.Left {
  -ms-flex-direction: row-reverse;
      flex-direction: row-reverse;
}

.Right {
  -ms-flex-direction: row;
      flex-direction: row;
}

.site-search form {
  display: contents;
}

.site-search {
  width: 100%;
  -ms-flex-align: center;
      align-items: center;
  display: -ms-grid;
  display: grid;
}

.cart {
  height: 40px;
  margin: 0 1rem;
}