html{
    font-family: sans-serif;
}

.main-container{
    margin-top: 2rem;
   
    
    h1{
        font-size: 2rem;
    }
}
.formsContainer{
    border: 1px solid rgb(53, 13, 186);
    width: 30rem;
    margin: auto;
    text-align: center;
    border-radius: 0.8rem;
    margin-top:1rem
}