.banner {
  border-radius: 30px;
}

.middleBannerContent {
  max-width: 55%;
  color: white;
  top: 0;
  padding: 6.4rem 8rem;
}

.middle-banner-heading {
  color: white;
}

.buttons {
  margin-top: 70px;
}
.buttons .ctg-btn {
  width: 170px;
  height: 43px;
  background: transparent;
  border: 1px solid white;
  border-radius: 20px;
  margin-left: 20px;
}
.buttons .ctg-btn a {
  color: white;
  text-decoration: none;
}
.buttons .store-btn {
  width: 170px;
  height: 43px;
  background-color: white;
  border: 1px solid white;
  border-radius: 20px;
}
.buttons .store-btn a {
  text-decoration: none;
}