
.heading {
  color: #698269;
  font-size: 40px;
  text-align: center;
}

.btn {
  margin: auto;
  display: block;
  width: fit-content;
  color: #3a96d0;
  text-decoration: none;
  background-color: #fff;
  border-radius: 20px;
  padding: 20px 40px;
  font-weight: 600;
  font-size: 20px;
  border: 1px solid #3a96d0;
  transition: all ease-in 0.2s;
  text-align: center;
}

.btn:hover {
  color: #fff;
  background-color: #3a96d0;
}
