img.logo,
.logoContent {
    width: 100%;
    height: 3rem;
    object-fit: contain;
}

.logoContent {
    // margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
