


.mainBox{
    display: flex;
    // flex-direction: row;
    align-items: center;

}


.form-control{
    border-radius: 1rem;
}
.leftCart{ flex-direction: row;}
.rightCart{ flex-direction: row-reverse;}
 

.site-search {
    width: 100%;
}

.cart{
   padding: 0.2rem;
   padding-top: 1.2rem;
   padding-left: 1rem;
   
}