.banner {
    border-radius: 30px;
}

.middleBannerContent {
    max-width: 55%;
    color: white;
    top: 0;
    padding: 6.4rem 8rem;
}

.middle-banner-heading {
    color: white;
}

.buttons {
    margin-top: 70px;
    .ctg-btn {
        width: 170px;
        height: 43px;
        background: transparent;
        border: 1px solid white;
        border-radius: 20px;
        margin-left: 20px;

        a {
            color: white;
            text-decoration: none;
        }
    }
    .store-btn {
        width: 170px;
        height: 43px;
        background-color: white;
        border: 1px solid white;
        border-radius: 20px;
        a {
            text-decoration: none;
        }
    }
}
